@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PasswordManager.Models.Api>

<div class="main-content">

    <h2>The Apis details that are available are as follows:</h2>
    <br /><br />

    @if (Model.Any())
    {
        <div class="container sites">
            <div class="row">
                @foreach (var Api in Model)
                {
                    //Only will render Site info if Api has a Key property
                    @if (Api.Key != null)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>@Html.DisplayFor(modelItem => Api.Name)</h3>
                                    <p>Key: <strong>@Html.DisplayFor(modelItem => Api.Key)</strong></p>
                                    <a href="@Html.DisplayFor(modelItem => Api.Link)" class="btn btn-default" role="button">Documentation</a>
                                    <a href="/Api/Edit/@Html.DisplayFor(modelItem => Api.Id)" class="btn btn-default" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>

        </div>
    }
    else
    {
        <p>No sites have been added yet!</p>
        <h3>@Html.ActionLink("Add Api", "Create", "Api")</h3>
    }
    <div class="result"></div>
</div>